{% load static %}
{% load post_tags %}

<div class="header-wrapper">
  <header>
    <div class="logo-search-form">
      <div class="logo">
        <a href="{% url "blog:index" %}"><img src="{% static "blog/img/logo.png" %}" alt="logo"></a>
      </div>
      <div class="search_from">
        {% search_form %}
      </div>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>User: {{ user.username }}</li>
          <li><a href="{% url 'blog:saved-posts' %}">Saved posts</a></li>
          <li><a href="{% url 'blog:post-create' %}">Create post</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
</div>

