{% load static %}
{% load post_tags %}

<div class="header-wrapper">
  <header>
    <div class="logo-search-form">
      <div class="logo">
        <a href="{% url "blog:index" %}"><img src="{% static 'blog/img/logo.png' %}" alt="logo"></a>
      </div>
      <div class="search_from">
        {% search_form %}
      </div>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'blog:post-create' %}"><img class="icon" src="{% static 'blog/img/write.png' %}" alt="write"></a></li>
          <li><a href="{% url 'blog:saved-posts' %}"><img class="icon bookmark-header-icon" src="{% static 'blog/img/bookmark.png' %}" alt="bookmark"></a></li>
          <li>hi, {{ user.username }}</li>
          <li><a href="{% url 'logout' %}"><img class="icon" src="{% static 'blog/img/logout.png' %}" alt="logout"></a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Sign in</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
</div>

