body {
    margin: 0;
}

.header-wrapper {
    border-bottom: 1px solid lightgray;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
}

.logo-search-form {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

nav li:last-child {
    margin-right: 0;
}

.content-with-sidebar-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    align-items: start;
    max-width: 70%;
    margin: 0 auto;
}