{% extends "blog/base.html" %}
{% load static %}
{% load post_tags %}

{% block content %}
  <div class="content-with-sidebar-wrapper">
    <div class="content-with-sidebar">
      {% with user.is_authenticated as authenticated %}
        <div class="post-detail-title-wrapper">
          <h1 class="post-detail-title">{{ post.title }}</h1>
          {% if authenticated %}
            {% if post in user.saved_posts.all %}
              <a class="add-remove-bookmark-icon"
                 href="{% url 'blog:add_remove_post' post_slug=post.slug already_added=0 %}">
                <img class="icon bookmark-header-icon"
                     src="{% static 'blog/img/bookmark_filled.png' %}"
                     alt="bookmark"
                     title="Remove from saved">
              </a>
            {% else %}
              <a class="add-remove-bookmark-icon"
                 href="{% url 'blog:add_remove_post' post_slug=post.slug already_added=1 %}">
                <img class="icon bookmark-header-icon"
                     src="{% static 'blog/img/bookmark.png' %}"
                     alt="bookmark"
                     title="Add to saved">
              </a>
            {% endif %}
          {% endif %}
        </div>
        <p class="post-detail-written-by ">
          Written by {{ post.author.username }}, {{ post.created }}
        </p>
        <p class="post-detail-body">{{ post.body|safe }}</p>
        <p class="total-comments">
          <img class="icon bookmark-header-icon" src="{% static 'blog/img/comment.png' %}" alt="bookmark">
          {{ post.total_comments }}
        </p>
        {% if authenticated %}
          {% include "blog/inclusions/comment_form.html" %}
        {% else %}
          <p>Only authorized users can leave comments!</p>
        {% endif %}
        {% for comment in comments %}
          <div class="comment">
            <p class="comment-author">{{ comment.author.username }} <span
                class="comment-created-at">&#8226; {{ comment.created }}</span></p>
            <p class="comment-body">{{ comment.body }}</p>
          </div>
        {% empty %}
          <p>There are no comments yet!</p>
        {% endfor %}
      {% endwith %}
    </div>
    {% include "blog/includes/sidebar.html" %}
  </div>
{% endblock %}
