{% extends "blog/base.html" %}

{% block content %}
  <div class="content-with-sidebar-wrapper">
    <div class="content-with-sidebar">
      {% for post in search_results %}
        <p>Found {{ found_number }} result{{ found_number|pluralize }}</p>
        <h3>
          <a href="#">
            {{ post.title }}
          </a>
        </h3>
        <p><i>Written by {{ post.author.username }}, {{ post.created }}</i></p>
        <p>{{ post.body|truncatewords:30 }}</p>
        <hr><br>
      {% empty %}
        <p>There are no results</p>
      {% endfor %}
    </div>
    {% include "blog/includes/sidebar.html" %}
  </div>

{% endblock %}
